body{
    text-align: center;
    background-color: #f99b45;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.btn{
    height:200px;
    width:200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.5rem;
}
.yellow{
    background-color: yellow;
}
.red{
    background-color: red;
}
.purple{
    background-color: purple
}
.green{
    background-color: rgba(0, 128, 0, 0.395);
}

.gameflash{
    background-color: white;
}
.userflash{
    background-color: green;
}